.Line {
    color: black;
    position: absolute;
    transform-origin: bottom left;
    border: 1px solid black;
}

/* .TransSymbol {
    font-size: 40px;
    color: black;
    position: absolute;
    transform-origin: bottom left;
}

.Arrow {
    font-size: 40px;
    color: black;
    position: absolute;
    transform-origin: center;
    border: 1px solid black;
} */

.TransInfo {
    font-size: 40px;
    color: black;
    position: absolute;
    transform-origin: bottom left;
}